// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgb(246, 146, 7);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// spotto brand colours
$spotto-sand: rgb(248, 222, 178);
$spotto-sky: #79bcf7;
$spotto-grey: rgb(237, 237, 237);
$spotto-gold: rgb(246, 146, 7);
