// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: rgb(255, 255, 255);

// spotto brand colours
$spotto-sand: rgb(248, 222, 178);
$spotto-sky: #79bcf7;
$spotto-grey: rgb(240, 240, 245);
$spotto-gold: rgb(236, 147, 21);
