<div>
  <p>
    <strong>Name:</strong>
    <%= space.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= space.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= space.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= space.price %>
  </p>

</div>
