<h1>Editing space</h1>

<%= render "form", space: @space %>
<%= link_to "Delete this car space listing", @space,
    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
    class: "ms-3 text-danger"
%>

<br>

<div>
  <%= link_to "Back to my personal car space listings", spaces_path %>
</div>
