<h1>Editing space</h1>

<%= render "form", space: @space %>
<%= button_to "Destroy this space", @space, method: :delete %>

<br>

<div>
  <%= link_to "Back to my personal car space listings", spaces_path %>
</div>
