<div class="container">
  <h1>New personal car space listing</h1>

  <%= render "form", space: @space %>

  <div>
    <%= link_to "Back to my personal car space listings", spaces_path %>
  </div>
</div>
