<div>
  <p>
    <strong>Date:</strong>
    <%= booking.start %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= booking.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= booking.location %>
  </p>

  <div class="map-container">
  <%= image_tag("generic_map.png", class: "map-image") %>
</div>

</div>
