<div>
  <p>
    <strong>Date:</strong>
    <%= booking.start %>
  </p>

  <p>
    <strong>Description</strong>
    <%= booking.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= booking.price %>
  </p>

  <div class="map-container">
  <%= image_tag("generic_map.png", class: "map-image") %>
</div>

</div>
