<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true"> %>
   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">Enter in your dates</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>New Booking</h1>
        <div class="container">
          <p>Enter in your dates</p>
          <%= render "form", space: @space, booking: @booking %>
         </div>      </div>
    </div>
  </div>
</div>
