<h1>Your upcoming bookings</h1>

<div>
  <% @bookings.each do |booking| %>
    <%= render booking %>
    <p>
      <%= link_to "Click here to see further details", booking %>
    </p>
  <% end %>
</div>

<%= link_to "Need another space?", spaces_path %>
