<h1>New Booking</h1>
<p>Enter in your dates</p>

<div class="container">

  <%= render "form", space: @space, booking: @booking %>

  <div>
    <%= link_to "To my bookings", bookings_path %>
  </div>
</div>
