<footer class="lewagon_footer text-center">
  <div class="container pb-0">
    <section class="mb-2">
      <a href="#!" class="btn btn-floating m-1" style="background-color: #3b5998;" role="button" data-mdb-ripple-init>
        <i class="fab fa-facebook-f text-white"></i>
      </a>
      <a href="#!" class="btn btn-floating m-1" style="background-color: #55acee;" role="button" data-mdb-ripple-init>
        <i class="fab fa-twitter text-white"></i>
      </a>
      <a href="#!" class="btn btn-floating m-1" style="background-color: #dd4b39;" role="button" data-mdb-ripple-init>
        <i class="fab fa-google text-white"></i>
      </a>
      <a href="#!" class="btn btn-floating m-1" style="background-color: #ac2bac;" role="button" data-mdb-ripple-init>
        <i class="fab fa-instagram text-white"></i>
      </a>
      <a href="#!" class="btn btn-floating m-1" style="background-color: #0082ca;" role="button" data-mdb-ripple-init>
        <i class="fab fa-linkedin-in text-white"></i>
      </a>
      <a href="#!" class="btn btn-floating m-1" style="background-color: #333333;" role="button" data-mdb-ripple-init>
        <i class="fab fa-github text-white"></i>
      </a>
    </section>
    <div class="footer-copyright">
      Spotto. Founded in 2024 by Tara, Yumi & Matt.
    </div>
  </div>
</footer>
