
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(
https://cdn.pixabay.com/photo/2018/01/18/20/56/auto-3091234_1280.jpg  );">
  <div class="container">

    <p>Step into <strong>Spotto</strong> </p>
    <p>Where Finding Your Perfect Parking Spot is Just the Beginning of Your Urban Adventure!</p>
<%= link_to "Start now", "#", class: "btn btn-gradient" %>  </div>
</div>
<h3>This is your Pages#home</h3>
