.backgraound{
  background-size: cover;
    height: 1000px;
    background-image:
    url(https://media.istockphoto.com/id/1341177044/photo/d-syd-woolwich-close-cbd.jpg?s=612x612&w=0&k=20&c=sl5FQmTcU4ngHGglu7dz4xyCnOnlWFOWBBXlFWLV5Hc=);
}
