.lewagon_footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $spotto-sand;
  z-index: 1000;
  padding-top: 15px;
  padding-bottom: 15px;
}

.lewagon_footer .btn-floating {
  border-radius: 50%;
}
